:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body {
    background-color:var(--yellow);
    display: flex;
}

.card {
    background-color: var(--white);
    width: 384px;
    height: 522px;
    margin: auto;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--black);
    box-shadow: 8px 8px var(--black);
}
.card-article-img {
    border-radius: 10px;
}

.profile-container {
    display: flex;
    align-items: center;    
}

.profile-container img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.profile-container p {
    margin: 0;
    font-weight: bold;
}

.section-para {
    padding-bottom: 24px;
}
.section-para h2:hover {
    color: var(--yellow);
    cursor: pointer;
}
.section-para p {
    color: var(--grey);
    font-size: 16px;
}
.section-p-title {
    background-color: var(--yellow);
    width: fit-content;
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: bold;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}





.figtree-500 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.figtree-800 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}